.search-form-default {
  display: block;
  height: 36px;
  width: 228px;
  float: right;
  margin-top: 18px;
  background: url(#{$image-url}/icon-sprite.png) no-repeat -370px 0;
}

.search-form-default input[type="text"] {
  float: left;
  font-family: "verdana", helvetica, Tahoma, Arial, sans-serif;
  font-size: 1.2rem;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  color: #B3B3B3;
  height: 25px;
  margin-left: 10px;
  margin-top: 6px;
  width: 188px;
  margin-right: 0;
}

.search-form-default input[type="submit"] {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  height: 26px;
  margin-left: 0;
  margin-top: 4px;
  overflow: visible;
  width: 26px;
}

.search-form-default input:active, .search-form-default input:focus {
  outline: none;
}

