.footer {
  clear: both;
  background: #F5F5F5;

  .title {
    margin: 0px 0px 10px 0px;
    padding: 3px 0px 3px 0px;
    text-align: left;
    border: 0;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color: #333;
    text-transform: uppercase;

  }

  .footer-section {
    padding: 20px 0 70px 0;
    width: 30%;
    margin-right: 30px;
    float: left;
  }

  .widget-user-info {
    //text-align: justify;
    font-size: 1.4rem;
    .avatar {
      border-radius: 85px;
      height: 150px;
      border: 3px solid #fff;
      margin-right: 10px;
      float: left;
    }

  }

  .footer-social-icons {
    clear: both;
    padding-top: 24px;
  }

  .footer-social-icons a {
    background: #fff;
    color: #333;
    display: inline-block;
    text-align: center;
    font-size: 2.4rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 1px 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  .footer-social-icons a:hover {
    background: #e84c4c;
    color: #fff;
  }

  .widget-gallery {
    .ptitle {
      visibility: hidden;
    }

    a {
      margin: 6px 6px;
      text-decoration: none;
      display: inline-block;
      position: relative;
    }

    a img {
      background: #fdfdfd;
      float: left;
      padding: 2px;
      border: 1px solid #e3e3e3;
      transition: all .3s;
    }

    a:hover img {
      border-color: #bbb;
    }

    .ptitle {
      background: rgba(0, 0, 0, .7);
      display: block;
      clear: left;
      font-size: 1.0rem;
      line-height: 1.3em;
      position: absolute;
      text-align: left;
      bottom: 3px;
      left: 3px;
      right: 3px;
      top: 3px;
      color: #fff;
      padding: 5px;
      word-wrap: break-word;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      backface-visibility: hidden;
      transition: all .2s
    }
    a:hover .ptitle {
      visibility: visible;
      opacity: 1
    }

  }

}

.widget-footer-labels {

  li {
    border-bottom: 1px solid #777;
    line-height: 22px;
    padding: 6px;
  }

  li a {
    text-decoration: none;
  }

}

.bottom-thing {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

