
#header {
  .social-holder a {
    /*transition*/
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    display: block;
    width: 25px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(#{$image-url}/icon-sprite.png) no-repeat;
    background-position: -12px 0;
  }

  .social-holder .youtube {
    background-position: -47px 0px;
  }

  .social-holder .twitter {
    background-position: -82px 0px;
  }

  .social-holder .pinterest {
    background-position: -115px 0px;
  }

  .social-holder .flickr {
    background-position: -149px 0px;
  }

  .social-holder .gplus {
    background-position: -182px 0px;
  }

  .social-holder .linkedin {
    background-position: -215px 0px;
  }
  .social-holder .vimeo {
    background-position: -280px 0px;
  }

  .social-holder .facebook {
    background-position: -246px 0px;
  }

  .social-holder .tumblr {
    background-position: -314px 0px;
  }

  li {
    float: left;
  }

  .logo-holder {
    width: 350px;
    float: left;
    margin-left: 100px;
    text-align: center;
  }

  .logo-holder h1 {
    font-variant: small-caps;
    font-size: 4.8rem;
    line-height: 50px;
    font-family: Tahoma, Geneva, sans-serif;
  }
}