.sidebar {

  padding: 0 0 0 30px;

  .widget {
    margin-bottom: 16px;
    clear: both;
  }

  h2 {
    //font-weight: 600;
    //letter-spacing: 0.5px;
    //font-weight: 600;
    margin: 0 0 20px;
    font-size: 2.0rem;
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #CFCFCF;
  }

  .about-us {
    font-size: 1.4rem;
  }

  .cloud-authors {

    img {
      float: left;
      margin-right: 5px;
      height: 40px;
      width: 40px;
    }
    .title {
      line-height: 44px;
    }

    margin-bottom: 70px;
  }

  .popular-posts ul li {
    margin-left: 0 !important;
    overflow: hidden;
    padding: 7px 0 !important;
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
    counter-increment: trackit;

  }

  .popular-posts ul li:before {

    content: counters(trackit, ".");
    padding: 0 .1em 0 0;
    font-size: 2.0rem;
    font-weight: bold;
    color: #C4C4C4;
    float: left;
    margin-right: 20px;

  }

  .popular-posts a {
    color: #959595;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    float: left;
    //width: 270px;
    width: 86%;
    margin-top: 8px;
  }

}

.cloud-labels {
  a {
    color: #878787;
    border: 3px double #eee;
    padding: 7px 8px;
    text-transform: capitalize;
    transition: all .4s;
    display: inline-block;
  }
  li {
    float: left;
    margin: 0 5px 5px 0;
  }
}