// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
//---- main-menu -----
.main-menu li {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

//---- blog-posts -----
.blog-posts .entry-title a {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

.blog-posts .item-label {
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.blog-posts .entry-short-description {
    font-family: georgia;
    font-size: 1.4rem;
}

//---- article -----
.article {
    h1 {
        font-weight: normal;
        text-transform: capitalize;
        font-size: 3.2rem;
    }
    .article-body {
        font-size: 1.4rem;
    }
}

.article-footer {
    h2 {
        font-size: 2.4rem;
    }
}

//---- contacts -----
.contacts {
    h1 {
        font-weight: normal;
        font-size: 3.2rem;
        line-height: 3.5rem;
        margin-bottom: 12px;
    }
    h2 {
        font-size: 1.8rem;
        letter-spacing: .5px;
        color: #333;
        text-transform: uppercase;
    }
}