<!DOCTYPE html>
<html lang="en" ng-app="personManager">
<head>
	<meta charset="UTF-8">
	<title>Person Manager</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<base href="https://zhdan88vadim.github.io/angular_homework3/">
</head>
<body>
	<div class="page" ng-controller="MainCtrl">

		<nav class="navbar navbar-default">
			<!--  navbar-fixed-top -->
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Person Manager</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Lesson 3. Homework</h1>
					<button 
					ng-click="toogleShowContent()"
					ng-class="{ 'btn-success': isShowContent, 'btn-default': !isShowContent }" 
					class="btn">
					{{ isShowContent ? "Hide Content" : "Show Content" }}
					</button>
				</div>
			</div>

			<div ng-show="isShowContent" class="content-main">
				<div ng-view></div>
			</div>

		</div>
	</div>


	<script type="text/ng-template" id="dialog-template">
	<div class="modal fade">
	<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 ng-bind-html="dialog.header" class="modal-title"></h4>
	</div>
	<div class="modal-body" ng-transclude></div>
	<div class="modal-footer">
	<button ng-click="dialog.clickCancel()" type="button" class="btn btn-default" data-dismiss="modal">{{ dialog.cancelText }}</button><button ng-click="dialog.clickOk()" type="button" class="btn btn-primary">{{ dialog.okText }}</button>
	</div>
	</div>
	</div>
	</div>
	</script>

	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../bower_components/angular-resource/angular-resource.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>


	<script src="./js/services.js"></script>
	<script src="./js/filters.js"></script>	
	<script src="./js/directives.js"></script>
	<script src="./js/controllers.js"></script>
	<script src="./js/app.js"></script>

</body>
</html>
