<!DOCTYPE html>
<html lang="en" ng-app="personManager">
<head>
	<meta charset="UTF-8">
	<title>Person Manager</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<base href="https://zhdan88vadim.github.io/angular_homework4/">
</head>
<body>
	<div class="page">

		<nav class="navbar navbar-default">
			<!--  navbar-fixed-top -->
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Person Manager</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#/list">To List</a></li>
						<li><a href="#/test">Test Phone Derective</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>AgularJS Training. Homework 4</h1>
				</div>
			</div>

			<div class="content-main">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" 
					close="closeAlert($index)"><div ng-bind-html="MessageBox"></div>
				</alert>
				<div ng-view></div>
			</div>

		</div>
	</div>

	<script type="text/ng-template" id="dialog-template.html">
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 ng-bind-html="header" class="modal-title"></h4>
					</div>
					<div class="modal-body" ng-transclude></div>

					<div class="modal-footer">
						<button ng-click="modalDialog.clickCancel()"
							type="button"
							class="btn btn-default"
							data-dismiss="modal">{{ cancelText }}
						</button>

						<!-- // form id = "form-person"-->

						<button 
							form="form-person"
							ng-disabled="modalDialog.isOkDisabled"
							ng-click="modalDialog.clickOk()"
							type="submit"
							class="btn btn-primary">{{ okText }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="confirm-modal.html">
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 ng-bind-html="model.header" class="modal-title"></h4>
					</div>
					<div class="modal-body">
						<span ng-bind-html="model.body"></span>
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">{{ model.cancelText }}</button>
						<button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">{{ model.okText }}</button>
					</div>
				</div>
			</div>
		</div>
	</script>


	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../bower_components/angular-resource/angular-resource.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

	<script src="./js/modules.js"></script>
	<script src="./js/modules/uialert/uialert.js"></script>
	<script src="./js/modules/modalService/modalService.js"></script>

	<script src="./js/services/alertsService.js"></script>
	<script src="./js/services/promiseFactory.js"></script>	
	<script src="./js/services/userService.js"></script>
	
	<script src="./js/filters.js"></script>	

	<script src="./js/directives/max_minNumber.js"></script>
	<script src="./js/directives/customModal.js"></script>
	<script src="./js/directives/phone.js"></script>

	<script src="./js/controllers/personListCtrl.js"></script>
	<script src="./js/controllers/personDetailCtrl.js"></script>
	<script src="./js/controllers/testPhoneDerectiveCtrl.js"></script>
	<script src="./js/controllers/modalDialogCtrl.js"></script>

	<script src="./js/app.js"></script>

</body>
</html>
