body {
	/*    padding-top: 50px;*/
}
.sortorder {
	color: #337AB7;
}
.sortorder:after {
	content: '\25b2';
}
.sortorder.reverse:after {
	content: '\25bc';
}
.separator {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #F2EAEA;
	clear: both;
}
.search-text {
	width: 30%;
}
.has-error label {
	color: #a94442;
}
.summary-error {
	margin-top: 16px;
}
.content-main {
	margin-top: 30px;
}

@media (min-width: 992px) {
	.person-form .no-lpad {
		padding-left: 0;
	}
	.person-form .no-rpad {
		padding-right: 0;
	}
}

.btn-toolbar.actions-toolbar {
	width: 100px;
}

/*.person-form .form-group {
	margin-bottom: 0px;
}*/
/*.test {
	background: #E56161;
}
.test a {
	color: #fff !important;
}*/