/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 10px; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #e05a65;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222222;
    text-decoration: underline; }

.clear {
  clear: both; }

.ct-wrapper {
  width: 1024px;
  margin: 0 auto; }

.social-holder {
  width: 200px;
  float: left; }

.social-networks {
  width: 180px; }

.header-wrapper {
  width: 980px;
  padding: 24px 0px 24px 0px;
  margin: 0 auto;
  overflow: hidden; }

.header-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.main-wrapper {
  float: left;
  width: 680px; }

.sidebar-wrapper {
  float: right;
  width: 340px; }

.main-menu li {
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 400; }

.blog-posts .entry-title a {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 700; }

.blog-posts .item-label {
  font-weight: 700;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif; }

.blog-posts .entry-short-description {
  font-family: georgia;
  font-size: 1.4rem; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Lato", sans-serif; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

#header .social-holder a {
  /*transition*/
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  display: block;
  width: 25px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../assets/img/icon-sprite.png) no-repeat;
  background-position: -12px 0; }

#header .social-holder .youtube {
  background-position: -47px 0px; }

#header .social-holder .twitter {
  background-position: -82px 0px; }

#header .social-holder .pinterest {
  background-position: -115px 0px; }

#header .social-holder .flickr {
  background-position: -149px 0px; }

#header .social-holder .gplus {
  background-position: -182px 0px; }

#header .social-holder .linkedin {
  background-position: -215px 0px; }

#header .social-holder .vimeo {
  background-position: -280px 0px; }

#header .social-holder .facebook {
  background-position: -246px 0px; }

#header .social-holder .tumblr {
  background-position: -314px 0px; }

#header li {
  float: left; }

#header .logo-holder {
  width: 350px;
  float: left;
  margin-left: 100px;
  text-align: center; }

#header .logo-holder h1 {
  font-variant: small-caps;
  font-size: 4.8rem;
  line-height: 50px;
  font-family: Tahoma, Geneva, sans-serif; }

.footer {
  clear: both;
  background: #F5F5F5; }
  .footer .title {
    margin: 0px 0px 10px 0px;
    padding: 3px 0px 3px 0px;
    text-align: left;
    border: 0;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color: #333;
    text-transform: uppercase; }
  .footer .footer-section {
    padding: 20px 0 70px 0;
    width: 30%;
    margin-right: 30px;
    float: left; }
  .footer .widget-user-info {
    font-size: 1.4rem; }
    .footer .widget-user-info .avatar {
      border-radius: 85px;
      height: 150px;
      border: 3px solid #fff;
      margin-right: 10px;
      float: left; }
  .footer .footer-social-icons {
    clear: both;
    padding-top: 24px; }
  .footer .footer-social-icons a {
    background: #fff;
    color: #333;
    display: inline-block;
    text-align: center;
    font-size: 2.4rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 1px 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }
  .footer .footer-social-icons a:hover {
    background: #e84c4c;
    color: #fff; }
  .footer .widget-gallery .ptitle {
    visibility: hidden; }
  .footer .widget-gallery a {
    margin: 6px 6px;
    text-decoration: none;
    display: inline-block;
    position: relative; }
  .footer .widget-gallery a img {
    background: #fdfdfd;
    float: left;
    padding: 2px;
    border: 1px solid #e3e3e3;
    transition: all .3s; }
  .footer .widget-gallery a:hover img {
    border-color: #bbb; }
  .footer .widget-gallery .ptitle {
    background: rgba(0, 0, 0, 0.7);
    display: block;
    clear: left;
    font-size: 1.0rem;
    line-height: 1.3em;
    position: absolute;
    text-align: left;
    bottom: 3px;
    left: 3px;
    right: 3px;
    top: 3px;
    color: #fff;
    padding: 5px;
    word-wrap: break-word;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    backface-visibility: hidden;
    transition: all .2s; }
  .footer .widget-gallery a:hover .ptitle {
    visibility: visible;
    opacity: 1; }

.widget-footer-labels li {
  border-bottom: 1px solid #777;
  line-height: 22px;
  padding: 6px; }

.widget-footer-labels li a {
  text-decoration: none; }

.bottom-thing {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem; }

.sidebar {
  padding: 0 0 0 30px; }
  .sidebar .widget {
    margin-bottom: 16px;
    clear: both; }
  .sidebar h2 {
    margin: 0 0 20px;
    font-size: 2.0rem;
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #CFCFCF; }
  .sidebar .about-us {
    font-size: 1.4rem; }
  .sidebar .cloud-authors img {
    float: left;
    margin-right: 5px;
    height: 40px;
    width: 40px; }
  .sidebar .cloud-authors .title {
    line-height: 44px; }
  .sidebar .popular-posts ul li {
    margin-left: 0 !important;
    overflow: hidden;
    padding: 7px 0 !important;
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
    counter-increment: trackit; }
  .sidebar .popular-posts ul li:before {
    content: counters(trackit, ".");
    padding: 0 .1em 0 0;
    font-size: 2.0rem;
    font-weight: bold;
    color: #C4C4C4;
    float: left;
    margin-right: 20px; }
  .sidebar .popular-posts a {
    color: #959595;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    float: left;
    width: 86%;
    margin-top: 8px; }

.cloud-labels a {
  color: #878787;
  border: 3px double #eee;
  padding: 7px 8px;
  text-transform: capitalize;
  transition: all .4s;
  display: inline-block; }

.cloud-labels li {
  float: left;
  margin: 0 5px 5px 0; }

.small-list {
  margin-top: 20px; }

.small-list img {
  border-radius: 50%;
  width: 200px;
  height: 200px; }

.small-list .wrap-img {
  height: 210px;
  overflow: hidden; }

.small-list .entry-title {
  text-align: center;
  line-height: 30px; }
  .small-list .entry-title a {
    color: #e05a65;
    outline: none;
    text-decoration: none;
    background: #FFEC94;
    padding: 8px 7px;
    font-size: 1.4rem; }

.small-list li {
  display: inline-block;
  width: 208px;
  min-height: 360px;
  position: relative;
  margin-right: 16px;
  float: left; }

.small-list .entry-container {
  margin-top: 12px; }

.small-list .item-label {
  position: absolute;
  top: 15px;
  background: #FFEC94;
  margin-left: -1px;
  padding: 8px 7px;
  text-transform: uppercase; }
  .small-list .item-label a {
    outline: none;
    text-decoration: none; }

.small-list .entry-short-description {
  margin-top: 16px;
  height: 96px;
  overflow: hidden;
  color: #4b4b4c;
  line-height: 19px;
  text-align: center; }

.big-list {
  margin-top: 20px;
  font-size: 1.4rem; }
  .big-list .tags {
    margin-top: 20px; }
  .big-list .info {
    margin-bottom: 10px; }

.big-list img {
  border-radius: 4px;
  width: 150px;
  height: 150px; }

.big-list .wrap-img {
  height: 150px;
  overflow: hidden;
  float: left;
  margin: 5px 20px 5px 0; }

.big-list .entry-title {
  margin-bottom: 10px; }
  .big-list .entry-title a {
    color: #e05a65;
    outline: none;
    text-decoration: none;
    font-size: 2.4rem; }

.big-list li.list-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #CFCFCF; }
  .big-list li.list-item:last-child {
    border: none; }

.big-list .entry-container {
  line-height: 22px;
  margin-bottom: 10px; }

.big-list .item-label {
  position: absolute;
  top: 15px;
  background: #FFEC94;
  margin-left: -1px;
  padding: 8px 7px;
  text-transform: uppercase; }
  .big-list .item-label a {
    outline: none;
    text-decoration: none; }

.big-list .entry-short-description {
  margin-top: 16px;
  height: 96px;
  overflow: hidden;
  color: #4b4b4c;
  line-height: 19px;
  text-align: center; }

@media (max-width: 1023px) {
  .main-wrapper {
    width: 100%;
    float: none; }
  .header-wrapper {
    width: 100%; }
  .ct-wrapper {
    width: 100%; }
  .sidebar-wrapper {
    width: 100%;
    float: none;
    clear: both; } }

.menu-holder {
  padding: 24px 0px 24px 0px; }

.main-menu {
  width: 100%;
  border: solid #CFCFCF;
  border-width: 1px 0 1px 0;
  display: inline-block; }

.menu-holder li {
  list-style-type: none;
  float: left; }

.menu-holder li {
  margin-bottom: 14px;
  margin-top: 14px; }
  .menu-holder li.highlight a {
    color: #FFF;
    background: #e6686a; }

.menu-holder li a {
  color: #000;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-right: 16px; }
  .menu-holder li a:hover {
    color: #FFF;
    background: #F7AFB0; }

.nav-select {
  width: 100%; }

@media (max-width: 600px) {
  .nav-select {
    display: none; } }

.blog-posts {
  margin-top: 20px; }

.blog-posts img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 4px; }

.blog-posts .wrap-img {
  height: 200px;
  overflow: hidden; }

.blog-posts .entry-title {
  text-align: center; }
  .blog-posts .entry-title a {
    color: #e6686a;
    outline: none;
    text-decoration: none; }

.blog-posts li {
  display: inline-block;
  width: 320px;
  height: 364px;
  position: relative;
  margin-right: 16px;
  float: left; }

.blog-posts .entry-container {
  margin-top: 6px; }

.blog-posts .item-label {
  position: absolute;
  top: 15px;
  background: #FFEC94;
  margin-left: -1px;
  padding: 8px 7px;
  text-transform: uppercase; }
  .blog-posts .item-label a {
    outline: none;
    text-decoration: none;
    color: #8A7205; }

.blog-posts .entry-short-description {
  margin-top: 6px;
  height: 96px;
  overflow: hidden; }

.blog-posts .entry-short-description {
  color: #4b4b4c;
  line-height: 19px; }

#blog-pager-newer-link {
  float: right;
  text-decoration: none;
  background: #000;
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: 10px;
  font-weight: 700;
  position: relative;
  left: -20px;
  top: 8px; }

#blog-pager-older-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 700;
  float: left;
  background: #000;
  padding: 10px;
  margin-left: 20px;
  margin-top: 8px; }

#blog-pager-newer-link a {
  text-decoration: none;
  color: #FFF; }

#blog-pager-older-link a {
  text-decoration: none;
  color: #FFF; }

.blog-pager {
  margin: 20px 0;
  border-top: 2px solid #ddd;
  padding: 3px;
  border-bottom: 2px solid #ddd;
  /* margin: 1em 0; */
  text-align: center;
  overflow: hidden; }

.showpageOf {
  display: none; }

.showpagePoint {
  padding: 12px 0px;
  display: inline-block;
  background: none repeat scroll 0% 0% transparent;
  color: #333;
  margin-right: 5px;
  font-size: 1.2rem;
  line-height: 12px;
  min-width: 35px;
  border: 2px solid #333;
  font-weight: bold; }

.showpageNum a {
  display: inline-block;
  background: none repeat scroll 0% 0% transparent;
  color: #333;
  margin-right: 5px;
  font-size: 1.2rem;
  position: relative;
  line-height: 12px;
  min-width: 35px;
  text-align: center;
  border: 2px solid #DCDCDC;
  font-weight: bold;
  padding: 12px 0px; }

.showpage a {
  display: inline-block;
  background: none repeat scroll 0% 0% transparent;
  color: #333;
  margin-right: 5px;
  font-size: 1.2rem;
  position: relative;
  line-height: 12px;
  min-width: 39px;
  text-align: center;
  border: 2px solid #DCDCDC;
  font-weight: bold;
  padding: 15px 0px; }

.showpage a:hover, .showpageNum a:hover {
  border-color: #333; }

.search-form-default {
  display: block;
  height: 36px;
  width: 228px;
  float: right;
  margin-top: 18px;
  background: url(../assets/img/icon-sprite.png) no-repeat -370px 0; }

.search-form-default input[type="text"] {
  float: left;
  font-family: "verdana", helvetica, Tahoma, Arial, sans-serif;
  font-size: 1.2rem;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  color: #B3B3B3;
  height: 25px;
  margin-left: 10px;
  margin-top: 6px;
  width: 188px;
  margin-right: 0; }

.search-form-default input[type="submit"] {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  height: 26px;
  margin-left: 0;
  margin-top: 4px;
  overflow: visible;
  width: 26px; }

.search-form-default input:active, .search-form-default input:focus {
  outline: none; }

.slider {
  height: 400px !important; }

ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0px 0;
  overflow: hidden;
  height: 385.333333px !important;
  width: 100% !important;
  display: block !important; }

li.bjqs-slide {
  position: absolute;
  display: none;
  list-style: none;
  height: 99% !important;
  width: 99.5% !important; }

ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999; }

li.slider-content img {
  width: 100%; }

ul.bjqs-controls.v-centered li.bjqs-prev a, ul.bjqs-controls.v-centered li.bjqs-next a {
  display: none; }

ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; }

ol.bjqs-markers.h-centered {
  text-align: center;
  margin-top: -34px;
  position: relative;
  height: 34px;
  padding: 7px 4px 7px 4px;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.64);
  left: 0px !important; }

ol.bjqs-markers li {
  display: inline; }

ol.bjqs-markers li a {
  display: inline-block; }

ul.bjqs-controls.v-centered li a {
  display: none; }

ul.bjqs-controls.v-centered li a:hover {
  background: #000;
  color: #fff; }

.featured-title {
  position: absolute;
  bottom: 45px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 25px;
  font-family: Lato;
  font-weight: 300;
  padding: 20px;
  text-transform: capitalize;
  text-align: center; }

.featured-posts-section {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  padding-top: 20px; }

.featured-title a {
  color: #fff; }

.status-msg-wrap {
  display: none; }

.fpimg {
  width: 100% !important;
  height: 380px; }

ol.bjqs-markers li a {
  background: #444444;
  color: #fff;
  margin: 5px;
  height: 10px;
  border-radius: 240px;
  text-decoration: none;
  text-indent: -7008px;
  width: 10px; }

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover {
  background: #FFEC94; }

p.bjqs-caption {
  background: rgba(255, 255, 255, 0.5); }
