extends layout.pug

block content

	.article
		h1.under-line Во что ты веришь?
		div.article-body
			img(src='../assets/img/What do you believe in.jpg').main-img
			div.content
				| Сегодня мало атеистов, которые заявляют, что они ни во что не верят. В основном люди говорят, что верят в Бога, ну или в какую-то силу, высший разум. В наше время это стало популярным. И все бы ничего, если бы наша вера имела правильный результат. Но задумывался ли ты когда-нибудь: во что именно я верю? Что дает мне моя вера?
				br
				| Апостол Иаков делает невероятное заявление: «Ты веруешь, что Бог един: хорошо делаешь; и бесы веруют и трепещут». Оказывается и бесы верят в Бога! Но разве этот факт помог им перестать быть таковыми?
				br
				| Очень часто мы путаем веру с суеверием. Вера - это когда ты знаешь Бога, уверен в Нем и осуществляешь Его волю в своей жизни. А мы часто совершаем лишь ритуалы и религиозные обряды просто потому, что об этом нам кто-то сказал.
				br
				br
				| Как часто я хожу в церковь? И вообще, для чего туда надо ходить? Достаточно ли только по праздникам? Что такое святое причастие и что оно производит в моей жизни, или же это просто очередной церковный ритуал? Куда я попаду после земной жизни? Что такое спасение и спасусь ли я, если буду делать много добрых дел? А может все же есть другие условия для спасения? Зачастую мы просто отмахиваемся от этих вопросов, и живем как все.
				br
				br
				| Но каждый думающий и уважающий себя человек должен осмысленно задать себе эти вопросы и попытаться найти на них ответы. И искать их нужно только в Библии, ибо она является Словом Божьим. Именно в ней Бог поместил все ответы. Это своего рода инструкция нашей жизни. «Господи, что значит верить Тебе по-настоящему, и как Ты хочешь, чтобы я верил?
				br
				br
				| Испытание веры приходит внезапно. Именно проблемы, сложные жизненные ситуации являются своеобразной лакмусовой бумажкой нашей веры. Хождение в церковь и добрые дела не спасают, исполнение религиозных ритуалов не помогают найти выход и не дают обрести внутренний мир и покой. В чем корень моей веры? Если в священнослужителе, в духовном наставнике или в ком-то или чем-то другом, то нас ожидает разочарование. Но только Иисус Христос, наш Спаситель дает нам гарантированную помощь: «Придите ко Мне все труждающиеся и обременненые, и Я успокою вас; возьмите иго Мое на себя и научитесь от Меня, ибо Я кроток и смирен сердцем, и найдете покой душам вашим; ибо иго Мое благо, и бремя Мое легко» (Евангелие от Матфея, 11: 28-30)
				br
				br
				| Настоящая вера – это угодить Богу, это делать то, что Бог хочет от нас, а не то, что мы сами себе придумали. Она не зависит от человеческих мнений. Она не оставляет возможности для двуличия и компромисса с грехом, когда в церкви мы одни, а за ее стенами совсем другие. Она дает нам уверенность в выборе верного пути и твердое основание идти вперед в правильном направлении. Сам Бог указывает нам верный путь. Только вера Божья, вера осмысленная, а не слепое суеверие, даст нам силы пройти все тяготы жизни и не сдаться. Во всех несправедливостях этого мира истинная вера поможет остаться человеком, поможет сохранить радость и даст уверенность в завтрашнем дне несмотря ни на что. Ведь Бог живой, Он любит тебя и меня. Он доказывает это тем, что умер за наши грехи, чтобы мы имели мир с Ним. Он никогда не оставит и не покинет нас. И это не мы придумали, это записано в Божьем Слове, которое Он превознес выше собственного Имени!



	.article-footer
		h2.relatedpost Похожие статьи
		.related-content
			a(href='#')
				img(src='../assets/img/gl0_sm.jpg')
				div.relatedtitle Воскресная проповедь — Воля Божья в Библии - часть 1 - Олег Ремез
			a(href='#')
				img(src='../assets/img/gl2_sm.jpg')
				div.relatedtitle Новая статья — Воля Божья в Библии - часть 1 - Олег Ремез
			a(href='#')
				img(src='../assets/img/gl1_sm.jpg')
				div.relatedtitle Конференция - (22.10.2016 - 23.10.2016) - Олег Ремез
			a(href='#')
				img(src='../assets/img/gl0_sm.jpg')
				div.relatedtitle Позитивные последствия кризиса
			.clear

	include partial/blog-comments.pug



