extends layout.pug


block content

    .photo-album

        ul
            li
                a(title='Heading Level', href='photo-album.html')
                    img(src='../assets/img/banner/banner01.jpg')
            li
                a(title='Фото с акций и крещения (архив)')
                    img(src='../assets/img/banner/banner02.jpg')

            li
                a(title='Венчание и оглашение 25.01.2015')
                    img(src='../assets/img/banner/banner03.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/oleg1.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')

            li
                a(title='Новый Иерусалим')
                    img(src='../assets/img/authors/shitov.jpg')

            li
                a(title='Рождество (Архив)')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/oleg1.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')


            li
                a(title='album name')
                    img(src='../assets/img/authors/shitov.jpg')


            li
                a(title='album name')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/oleg1.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')

            li
                a(title='Новый Иерусалим')
                    img(src='../assets/img/authors/shitov.jpg')

            li
                a(title='Рождество (Архив)')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/oleg1.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/shitov.jpg')


            li
                a(title='album name')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')


            li
                a(title='album name')
                    img(src='../assets/img/authors/shitov.jpg')


            li
                a(title='album name')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/oleg1.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')

            li
                a(title='Новый Иерусалим')
                    img(src='../assets/img/authors/shitov.jpg')

            li
                a(title='Рождество (Архив)')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/oleg1.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/shitov.jpg')
            li
                a(title='Новый Иерусалим')
                    img(src='../assets/img/authors/shitov.jpg')

            li
                a(title='Рождество (Архив)')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/shitov.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/oleg1.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/authors/pastor.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/authors/shitov.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/book.jpg')
            li
                a(title='album name')
                    img(src='../assets/img/cross.jpg')

            li
                a(title='album name')
                    img(src='../assets/img/big_open_book.jpg')