.big-list
    ul
        li.list-item
            h3.entry-title
                a(href='')
                    | Воскресная проповедь — Воля Божья в Библии - часть 1 -
                    | 09.10.2016
            .wrap-img
                a(href='')
                    img(src='../assets/img/authors/pastor.jpg', alt='Post Title')
            .info Пастор Андрей - 14.02.2017
            .entry-container
                | Ducimus, repudiandae impedit sapiente ex numquam
                | expedita alias doloribus in
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
            a(href='') читать полностью
            .tags.cloud-labels
                ul
                    li
                        a(href='') Достижение цели
                    li
                        a(href='') Учеба
                    li
                        a(href='') Свидетельства
                    li
                        a(href='') Финансы
            .clear
        li.list-item
            h3.entry-title
                a(href='')
                    | Воскресная проповедь — Воля Божья в Библии - часть 1 -
                    | 09.10.2016
            .wrap-img
                a(href='')
                    img(src='../assets/img/authors/shitov.jpg', alt='Post Title')
            .info Евгений Шитов - 14.12.2017
            .entry-container
                | Ducimus, repudiandae impedit sapiente ex numquam
                | expedita alias doloribus in
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
            a(href='') читать полностью
            br
            a(href='') просмотреть все серии
            .tags.cloud-labels
                ul
                    li
                        a(href='') Финансы
            .clear
        li.list-item
            h3.entry-title
                a(href='')
                    | Воскресная проповедь — Воля Божья в Библии - часть 1 -
                    | 09.10.2016
            .wrap-img
                a(href='')
                    img(src='../assets/img/authors/oleg1.jpg', alt='Post Title')
            .info Олег - 14.02.2017
            .entry-container
                | Ducimus, repudiandae impedit sapiente ex numquam
                | expedita alias doloribus in
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
            a(href='') читать полностью
            br
            a(href='') просмотреть все серии
            .clear
        li.list-item
            h3.entry-title
                a(href='')
                    | Воскресная проповедь — Воля Божья в Библии - часть 1 -
                    | 09.10.2016
            .wrap-img
                a(href='')
                    img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .info Пастор Андрей - 14.02.2017
            .entry-container
                | Ducimus, repudiandae impedit sapiente ex numquam
                | expedita alias doloribus in
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
            a(href='') читать полностью
            .tags.cloud-labels
                ul
                    li
                        a(href='') Достижение цели
                    li
                        a(href='') Учеба
                    li
                        a(href='') Свидетельства
                    li
                        a(href='') Финансы
            .clear
        li.list-item
            h3.entry-title
                a(href='')
                    | Воскресная проповедь — Воля Божья в Библии - часть 1 -
                    | 09.10.2016
            .wrap-img
                a(href='')
                    img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .info Пастор Андрей - 14.02.2017
            .entry-container
                | Ducimus, repudiandae impedit sapiente ex numquam
                | expedita alias doloribus in
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
            a(href='') читать полностью
            .clear
        li.list-item
            h3.entry-title
                a(href='')
                    | Воскресная проповедь — Воля Божья в Библии - часть 1 -
                    | 09.10.2016
            .wrap-img
                a(href='')
                    img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .info Пастор Андрей - 14.02.2017
            .entry-container
                | Ducimus, repudiandae impedit sapiente ex numquam
                | expedita alias doloribus in
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
            a(href='') читать полностью
            .clear
        li.list-item
            h3.entry-title
                a(href='')
                    | Воскресная проповедь — Воля Божья в Библии - часть 1 -
                    | 09.10.2016
            .wrap-img
                a(href='')
                    img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .info Пастор Андрей - 14.02.2017
            .entry-container
                | Ducimus, repudiandae impedit sapiente ex numquam
                | expedita alias doloribus in
                | expedita alias doloribus in
                | incidunt sequi dignissimos odit facilis maxime aperiam
                | aspernatur soluta nulla adipisci...
                | expedita alias doloribus in
            a(href='') читать полностью
            .clear
.clear
.blog-pager
    span.showpageOf Page 1 of 5
    span.showpageNum
        a(href='#', onclick='redirectpage(0);return false') «
    span.showpageNum
        a(href='#', onclick='redirectpage(1);return false') 1
    span.showpagePoint
        a(href='#', onclick='redirectpage(2);return false') 2
    span.showpageNum
        a(href='#', onclick='redirectpage(3);return false') 3
    span.showpageNum
        a(href='#', onclick='redirectpage(5);return false') 5
    span.showpageNum
        a(href='#', onclick='redirectpage(2);return false') »
