.blog-comments
	.under-line

	h4 12 Комментарии:
	.comments-content
		ul
			li.comment-item
				.avator-img-container
					img(src='../assets/img/gl2_sm.jpg')
				.comment-block
					.comment-header
						a.user Вадим Ждан
						.datetime 2 Апрель 2016
					.comment-content
						| Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.
			li.comment-item
				.avator-img-container
					img(src='../assets/img/gl2_sm.jpg')
				.comment-block
					.comment-header
						a.user Олег Козлов
						.datetime 23 Август 2016
					.comment-content
						| Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.
						| Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.
						br
						br
						| Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.
			li.comment-item
				.avator-img-container
					img(src='../assets/img/gl2_sm.jpg')
				.comment-block
					.comment-header
						a.user Олег Козлов
						.datetime 23 Август 2016
					.comment-content
						| Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.
			li.comment-item
				.avator-img-container
					img(src='../assets/img/gl2_sm.jpg')
				.comment-block
					.comment-header
						a.user Олег Козлов
						.datetime 23 Август 2016
					.comment-content
						| Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.

		form(action="save").submit-form
			.head
				textarea(rows='5' cols='50' placeholder='Введите ваш комментарий...')
			.controls
				input(type='button' value='Отправить').publish-button









