
<div class="blog-comments">
  <div class="under-line"></div>
  <h4>12 Комментарии:</h4>
  <div class="comments-content">
    <ul>
      <li class="comment-item">
        <div class="avator-img-container"><img src="../assets/img/gl2_sm.jpg"/></div>
        <div class="comment-block">
          <div class="comment-header"><a class="user">Вадим Ждан</a>
            <div class="datetime">2 Апрель 2016</div>
          </div>
          <div class="comment-content">Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.</div>
        </div>
      </li>
      <li class="comment-item">
        <div class="avator-img-container"><img src="../assets/img/gl2_sm.jpg"/></div>
        <div class="comment-block">
          <div class="comment-header"><a class="user">Олег Козлов</a>
            <div class="datetime">23 Август 2016</div>
          </div>
          <div class="comment-content">
            Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.
            Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.<br/><br/>Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.
          </div>
        </div>
      </li>
      <li class="comment-item">
        <div class="avator-img-container"><img src="../assets/img/gl2_sm.jpg"/></div>
        <div class="comment-block">
          <div class="comment-header"><a class="user">Олег Козлов</a>
            <div class="datetime">23 Август 2016</div>
          </div>
          <div class="comment-content">Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.</div>
        </div>
      </li>
      <li class="comment-item">
        <div class="avator-img-container"><img src="../assets/img/gl2_sm.jpg"/></div>
        <div class="comment-block">
          <div class="comment-header"><a class="user">Олег Козлов</a>
            <div class="datetime">23 Август 2016</div>
          </div>
          <div class="comment-content">Sed vulputate diam vitae velit pharetra tempus. Cras eget ipsum non tellus consectetur condimentum. Nunc lobortis sollicitudin nulla, non semper lectus eleifend sed. Sed hendrerit, turpis ac consequat commodo, erat libero ultricies risus, id posuere lectus tellus vel neque.</div>
        </div>
      </li>
    </ul>
    <form class="submit-form" action="save">
      <div class="head">
        <textarea rows="5" cols="50" placeholder="Введите ваш комментарий..."></textarea>
      </div>
      <div class="controls">
        <input class="publish-button" type="button" value="Отправить"/>
      </div>
    </form>
  </div>
</div>