.footer
    .ct-wrapper
        .footer-section.widget-user-info
            h2.title пастор церкви
            .footer-content
                p
                    img.avatar(src='../assets/img/pastor_andrey_sidor_sm.jpg', alt='Пастор Андрей Сидор')
                    |                     Андрей Сидор, пастор церкви «Свет миру» (г.Минск) Андрей Сидор, пастор церкви «Свет миру»
                    |                     (г.Минск)
                    br
                    a(href='#') далее..
                .footer-social-icons
                    a(href='URL-HERE', title='Facebook', target='_blank', rel='nofollow')
                        i.fa.fa-facebook
                    a(href='URL-HERE', title='Twitter', target='_blank', rel='nofollow')
                        i.fa.fa-twitter
                    a(href='URL-HERE', title='Google Plus', target='_blank', rel='nofollow')
                        i.fa.fa-google-plus
                    a(href='URL-HERE', title='Instagram', target='_blank', rel='nofollow')
                        i.fa.fa-instagram
                    a(href='URL-HERE', title='Pinterest', target='_blank', rel='nofollow')
                        i.fa.fa-pinterest
            .clear
        .footer-section.widget-gallery
            .footer-content
                a(href='')
                    img(src='../assets/img/gl0_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl1_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl2_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl3_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl0_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl1_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl2_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl3_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
                a(href='')
                    img(src='../assets/img/gl3_sm.jpg', alt='')
                    span.ptitle Let's Cook Some Tasty Things With Chef Charlie
            .clear
        .footer-section.widget-footer-labels
            .footer-content
                h2.title метки
                ul
                    li
                        a(href='') Погода
                    li
                        a(href='') Учеба
                    li
                        a(href='') Свидетельства
                    li
                        a(href='') Финансы
                    li
                        a(href='') Здоровье
                    li
                        a(href='') Достижение цели
                    li
                        a(href='') Упорство
                    li
                        a(href='') Борьба
                    li
                        a(href='') Стремление
            .clear
    .clear
.ct-wrapper
    .bottom-thing
        | Created By ZHV