.widget.about-us
    h2 наше служение
    .widget-content
        | Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
        | нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
        | помощь.
        | Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
        | нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
        | помощь.
        br
        br
        | Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
        | нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
        | помощь.
        a(href='/') далее..
.widget.popular-posts
    h2 популярные посты
    .widget-content
        ul
            li
                a(href='') Позитивные последствия кризиса
            li
                a(href='') Воскресная проповедь — христианин на работе 18.09.2016
            li
                a(href='') Пророческое слово на 2013 год
            li
                a(href='') Конференция - (22.10.2016 - 23.10.2016) - Олег Ремез
            li
                a(href='') Воскресная проповедь — Воля Божья в Библии - часть 1 - 09.10.2016
            li
                a(href='') Воскресная проповедь — природа христианской любви — часть 2 — 30.10.2016
.widget.cloud-labels
    h2 Метки
    .widget-content
        ul
            li
                a(href='') Погода
            li
                a(href='') Учеба
            li
                a(href='') Свидетельства
            li
                a(href='') Финансы
            li
                a(href='') Здоровье
            li
                a(href='') Достижение цели
            li
                a(href='') Упорство
            li
                a(href='') Борьба
            li
                a(href='') Стремление
            li
                a(href='') Победа
            li
                a(href='') Погода
            li
                a(href='') Учеба
            li
                a(href='') Свидетельства
            li
                a(href='') Победа
            li
                a(href='') Погода
.widget.cloud-authors
    h2 Авторы
    .widget-content
        ul
            li
                a(href='')
                    img(src='../assets/img/authors/oleg1.jpg', alt='')
                    span.title ОлегОлег ОлегОлег
            li
                a(href='')
                    img(src='../assets/img/authors/pastor.jpg', alt='')
                    span.title Пастор Андрей
            li
                a(href='')
                    img(src='../assets/img/authors/oleg1.jpg', alt='')
                    span.title Пастор Генадий (Польша)
            li
                a(href='')
                    img(src='../assets/img/authors/shitov.jpg', alt='')
                    span.title Евгений Шитов
            li
                a(href='')
                    img(src='../assets/img/authors/pastor.jpg', alt='')
                    span.title Пастор Андрей