
<div class="widget about-us">
  <h2>наше служение</h2>
  <div class="widget-content">
    Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
    нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
    помощь.
    Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
    нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
    помощь.<br/><br/>
    Богослужения проходят каждое воскресенье в 12-00 по адресу: г.Минск ул.Медвежино 11/3. Служители
    нашей церкви готовы посетить больных, оказать им молитвенную поддержку и другую посильную
    помощь.<a href="/">далее..</a>
  </div>
</div>
<div class="widget popular-posts">
  <h2>популярные посты</h2>
  <div class="widget-content">
    <ul>
      <li><a href="">Позитивные последствия кризиса</a></li>
      <li><a href="">Воскресная проповедь — христианин на работе 18.09.2016</a></li>
      <li><a href="">Пророческое слово на 2013 год</a></li>
      <li><a href="">Конференция - (22.10.2016 - 23.10.2016) - Олег Ремез</a></li>
      <li><a href="">Воскресная проповедь — Воля Божья в Библии - часть 1 - 09.10.2016</a></li>
      <li><a href="">Воскресная проповедь — природа христианской любви — часть 2 — 30.10.2016</a></li>
    </ul>
  </div>
</div>
<div class="widget cloud-labels">
  <h2>Метки</h2>
  <div class="widget-content">
    <ul>
      <li><a href="">Погода</a></li>
      <li><a href="">Учеба</a></li>
      <li><a href="">Свидетельства</a></li>
      <li><a href="">Финансы</a></li>
      <li><a href="">Здоровье</a></li>
      <li><a href="">Достижение цели</a></li>
      <li><a href="">Упорство</a></li>
      <li><a href="">Борьба</a></li>
      <li><a href="">Стремление</a></li>
      <li><a href="">Победа</a></li>
      <li><a href="">Погода</a></li>
      <li><a href="">Учеба</a></li>
      <li><a href="">Свидетельства</a></li>
      <li><a href="">Победа</a></li>
      <li><a href="">Погода</a></li>
    </ul>
  </div>
</div>
<div class="widget cloud-authors">
  <h2>Авторы</h2>
  <div class="widget-content">
    <ul>
      <li><a href=""><img src="../assets/img/authors/oleg1.jpg" alt=""/><span class="title">ОлегОлег ОлегОлег</span></a></li>
      <li><a href=""><img src="../assets/img/authors/pastor.jpg" alt=""/><span class="title">Пастор Андрей</span></a></li>
      <li><a href=""><img src="../assets/img/authors/oleg1.jpg" alt=""/><span class="title">Пастор Генадий (Польша)</span></a></li>
      <li><a href=""><img src="../assets/img/authors/shitov.jpg" alt=""/><span class="title">Евгений Шитов</span></a></li>
      <li><a href=""><img src="../assets/img/authors/pastor.jpg" alt=""/><span class="title">Пастор Андрей</span></a></li>
    </ul>
  </div>
</div>