.small-list
    ul
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение порядка
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Воскресная школа
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение прославления
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Театральное служение
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/03.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение прославления
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in expedita alias 
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение порядка
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Воскресная школа
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in  Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/03.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение прославления
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in  Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Театральное служение
                div.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
