
<div class="small-list">
  <ul>
    <li>
      <div class="wrap-img"><img src="../assets/img/sluzheniya/01.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Служение порядка</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/banner/phoca_thumb_l_1.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Воскресная школа</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/banner/phoca_thumb_l_1.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Служение прославления</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/banner/phoca_thumb_l_1.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Театральное служение</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/sluzheniya/03.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Служение прославления</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam expedita alias doloribus in Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in expedita alias 
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/sluzheniya/01.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Служение порядка</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/banner/phoca_thumb_l_1.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Воскресная школа</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in  Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/sluzheniya/03.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Служение прославления</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in  Ducimus, repudiandae impedit sapiente ex numquam  Ducimus, repudiandae impedit sapiente ex numquam
        </div>
      </div>
    </li>
    <li>
      <div class="wrap-img"><img src="../assets/img/banner/phoca_thumb_l_1.jpg" alt="Post Title"/></div>
      <div class="entry-container">
        <h3 class="entry-title"><a href="">Театральное служение</a></h3>
        <div class="entry-short-description">
          Ducimus, repudiandae impedit sapiente ex numquam
          expedita alias doloribus in
        </div>
      </div>
    </li>
  </ul>
</div>