.small-list
    ul
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение порядка
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Воскресная школа
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение прославления
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Театральное служение
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/03.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение прославления
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/01.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение порядка
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Воскресная школа
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/sluzheniya/03.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Служение прославления
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
        li
            .wrap-img
                img(src='../assets/img/banner/phoca_thumb_l_1.jpg', alt='Post Title')
            .entry-container
                h3.entry-title
                    a(href='') Театральное служение
                p.entry-short-description
                    | Ducimus, repudiandae impedit sapiente ex numquam
                    | expedita alias doloribus in
